* {
    padding: 0;
    box-sizing: border-box;
}

body {
    align-items: center;
    font-family: "Plus Jakarta Sans" sans-serif;
  display: flex;  
  justify-content: center;
}

.sidebar {
    align-content: center;
    width: 100%;
}

.sidebar img {
    height: 1.8rem;
}